# Module 8 Assignment


A few things you should keep in mind when working on assignments:

1. Before you submit your assignment, make sure everything runs as expected. Go to the menubar, select Kernel, and Restart & Run all. 
2. Make sure that you save your work.
3. Upload your notebook to Compass.

-----

# Problem 1: Read a table from sqlite db to a DataFrame

- The sqlite database file name is 'm8-high.db'.
- Establish a connection, `con`, to the database.
- Use pandas read_sql method with database connection represented by `con` to load all data from the table `Courses` and load the result to a DataFrame df_courses.
- Display the first 5 rows of df_courses.
- Do not close the connection `con`. The connection will be closed at the end of the notebook.

# Problem 2: Select 500-level courses 

This problem will use the database connection `con` created in the Problem 1.
- Use Pandas read_sql() to load all courses with course_num greater or equal to 500 in `Courses` table to a DataFrame `df_500`.
- Display the first 5 rows of `df_500`

# Problem 3: Select courses with "data" in course name

This problem will use the database connection `con` created in the Problem 1.

- Using Pandas read_sql() to load all courses that have the word "data" in `course_name` column. Save the result to DataFrame `df_data`.
- Display the `df_data`.

**Hint:** Use SQL LIKE operator.

# Problem 4: Close the database connection

- Close the database connection `con` created in the Problem 1.