# Module 5 Assignment


A few things you should keep in mind when working on assignments:

1. Before you submit your assignment, make sure everything runs as expected. Go to the menubar, select Kernel, and Restart & Run all. 
2. Make sure that you save your work.
3. Upload your notebook to Compass.

-----

# Problem 1: Load the dataset

The dataset, wealth_and_health.csv, contains GDP per capita and life expectancy information of over 100 countries in the world. 

In the following code cells:

- Load dataset to a DataFrame `df`.
- Display the first 5 rows in the DataFrame.
- Display the basic information of the DataFrame with info() method.

In [1]:
# Load dataset to a DataFrame and display first 5 rows
import pandas as pd
df = pd.read_csv('wealth_and_health.csv')
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [2]:
# Display basic information of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

# Problem 2: Examine the categorical features

In the following code cells:
- Display the list of unique countries in the dataset.
- Display the list of unique years in the dataset.

In [3]:
# Display the list of unique countries in the dataset.
df.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [4]:
# Display the list of unique years in the dataset.
df.year.unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007])

# Problem 3: Select 2007 data

In the following code cells:
- Select all 2007 data from the DataFrame `df` and assign the subset to a DataFrame `df_2007`.
- Display first 5 rows of `df_2007`.

In [5]:
# Select 2007 data to df_2007
df_2007 = df[df.year==2007]
df_2007.head()

        country  year  population continent  life_exp       gdp_cap
11  Afghanistan  2007    31889923      Asia    43.828    974.580338
23      Albania  2007     3600523    Europe    76.423   5937.029526
35      Algeria  2007    33333216    Africa    72.301   6223.367465
47       Angola  2007    12420476    Africa    42.731   4797.231267
59    Argentina  2007    40301927  Americas    75.320  12779.379640

# Problem 4: Examine the 2007 data

In the following code cells, display statistics of `df_2007` created in Problem 3:
- The count of countries in each continent. (Hint: use value_counts() method).
- The mean life expectancy of all countries.
- The median GDP per capita of all countries.

In [6]:
# Display the count of countries in each continent
df_2007.continent.value_counts()

Africa      52
Asia        33
Europe      30
Americas    25
Oceania      2
Name: continent, dtype: int64

In [7]:
# Display the mean life expectancy
df_2007.life_exp.mean()

67.00742253521126

In [8]:
# Display the median GDP per capita
df_2007.gdp_cap.median()

6124.3711085

# Problem 5: Top and bottom countries in 2007

In the following code cells, for `df_2007`, display all columns of:
- 5 countries with highest GDP per capita, highest first.
- 5 countries with highest life expectancy, highest first.
- 5 countries with lowest GDP per capita, lowest first.
- 5 countries with lowest life expectancy, lowest first.

Hint: Sort the DataFrame by interested column, then display the first 5 rows of the sorted DataFrame. Set parameter `ascending` with proper values.

In [9]:
# Displays 5 countries with highest GDP per capita in 2007, highest first
df_2007.sort_values(by='gdp_cap', ascending=False).head()

            country  year  population continent  life_exp      gdp_cap
1151         Norway  2007     4627926    Europe    80.196  49357.19017
863          Kuwait  2007     2505559      Asia    77.588  47306.98978
1367      Singapore  2007     4553009      Asia    79.972  47143.17964
1619  United States  2007   301139947  Americas    78.242  42951.65309
755         Ireland  2007     4109086    Europe    78.885  40675.99635

In [10]:
# Displays 5 countries with lowest GDP per capita in 2007, lowest first
df_2007.sort_values(by='gdp_cap').head()

               country  year  population continent  life_exp     gdp_cap
335   Congo, Dem. Rep.  2007    64606759    Africa    46.462  277.551859
899            Liberia  2007     3193942    Africa    45.678  414.507341
215            Burundi  2007     8390505    Africa    49.580  430.070692
1703          Zimbabwe  2007    12311143    Africa    43.487  469.709298
635      Guinea-Bissau  2007     1472041    Africa    46.388  579.231743

In [11]:
# Displays 5 countries with highest life expectancy in 2007, highest first
df_2007.sort_values(by='life_exp', ascending=False).head()

               country  year  population continent  life_exp      gdp_cap
803              Japan  2007   127467972      Asia    82.603  31656.06806
671   Hong Kong, China  2007     6980412      Asia    82.208  39724.97867
695            Iceland  2007      301931    Europe    81.757  36180.78919
1487       Switzerland  2007     7554661    Europe    81.701  37506.41907
71           Australia  2007    20434176   Oceania    81.235  34435.36744

In [12]:
# Displays 5 countries with lowest life expectancy in 2007, lowest first
df_2007.sort_values(by='life_exp').head()

           country  year  population continent  life_exp      gdp_cap
1463     Swaziland  2007     1133066    Africa    39.613  4513.480643
1043    Mozambique  2007    19951656    Africa    42.082   823.685621
1691        Zambia  2007    11746035    Africa    42.384  1271.211593
1355  Sierra Leone  2007     6144562    Africa    42.568   862.540756
887        Lesotho  2007     2012649    Africa    42.592  1569.331442